  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  }
  
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .cart-price{
    background-color: green;
    border-radius: 50px 50px 0 0;
    text-align: center;
    padding-bottom: 1rem;
    color: white;
    cursor: pointer;               
  }
  
  .product-actions
  {
    display: 'flex';
    justify-content: 'center';
  }
  