table {
    border-collapse: collapse;
    width: 800px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 3px solid black;
    height: 40px;
}

h1 {
    text-align: center;
}

img{
    width: 200px;
    height: auto;
    
}

.head-nav{
    background-color: #006300;
    padding: 1rem 1rem;
    width: 100%;
    color: #FFF;
    text-align: center;
}

.link{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}